body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
}

.remark-slide-content h1 {
  font-size: 3em;
}

.remark-slide-content h2 {
  font-size: 2em;
}

.remark-slide-content h3 {
  font-size: 1.6em;
}

.footnote {
  position: absolute;
  bottom: 3em;
}

li p {
  line-height: 1.25em;
}

.red {
  color: #fa0000;
}

.large {
  font-size: 2em;
}

a, a> code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

code {
  background: #e7e8e2;
  border-radius: 5px;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
  background-color: #373832;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5
}
